.count-leave {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.count-leave-active {
  transition: 0.25s;
  transform: translateY(-100%) scale(0);
  opacity: 0;
}
.count-enter {
  opacity: 0;
  transform: translateY(100%) scale(0);
}
.count-enter-active {
  transition: 0.25s;
  transform: translateY(0) scale(1);
  opacity: 1;
}
body {
background: #fff;
font-family: 'Bangers', cursive;
color: #5890FF;
}
button {
 font-size: 48px;
 padding: 10px;
 margin: 10px;
 font-family: 'Bangers', cursive;
}
.count {
 font-size: 150px;
 position: absolute;
 left: 45%;
}
